.checboxContainer {
    display: flex;
    flex-direction: column;
    label {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.1px;
        color: #8e8e8e;
    }

    > span {
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.15px;
        color: #ee6356;
    }
}
